<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="color: rgb(0, 0, 0);">Authentication Required</h1>
    <p style="color: rgb(0, 0, 0);">Please enter the one-time password sent to your email:</p>
    {% if error %}
            <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/verify_user">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify</button>
    </form>
</body>
</html>