<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Past scans</h1>
    <a href="/home">Back to Home</a>
    <p><a href="/export_history">Export History (CSV)</a></p>
    <table>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Date</th>
            <th>Score</th>
            <th>Classification</th>
        </tr>
        {% for section in scans_list %}
        <tr>
            <td>{{ section[0] }}</td>
            <td>{{ section[1] }}</td>
            <td>{{ section[2] }}</td>
            <td>{{ section[3] }}</td>
            <td>{{ section[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>