<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <h2>Signup</h2>
        {% if error %}
            <p> style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/add_user" method="post">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="/">Login here</a></p>
    </main>
</body>