<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>

    <h1>Scan Statistics for {{ date }}</h1>

    <main>
        <h2>Load data from another month</h2>
        <form action="/stats" method="post">
            <input type="text" name="month" placeholder="Enter Month to display (YYYY-MM)" required>
            <button type="submit">Load data</button>
        </form>
    </main>
<body>
<body>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Safe", "Low Risk", "Suspicious", "Likely Phishing", "Phishing"],
      datasets: [{
        label: 'Number of Scans',
        data: [{{ stats[2] }}, {{ stats[3] }}, {{ stats[4] }}, {{ stats[5] }}, {{ stats[6] }}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<a href="/home">Back to Home</a>
</body>
<html>
